<% provide(:title, 'Contact') %>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col" style="padding: 20px;margin: 20px;">
        <h1 class="main-heading">Have Questions? Contact Us</h1>
      </div>
    </div>
  </div>
  <section id="contact" style="padding:40px;padding-right:5px;padding-left:4px;">
    <div class="container">
      <form action="javascript:void();" method="post" id="contactForm" style="padding:15px;">
        <div class="form-row" style="margin-left:0px;margin-right:0px;padding:10px;">
          <div class="col-md-6" style="padding-left:20px;padding-right:20px;">
            <fieldset></fieldset>
            <legend><i class="fa fa-info"></i>&nbsp;General inquiries</legend>
            <p></p>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                <tr>
                  <td><i class="fa fa-map-marker"></i></td>
                  <td>124 La Trobe St, Melbourne VIC 3000</td>
                </tr>
                <tr>
                  <td><i class="fa fa-phone"></i></td>
                  <td>(03) 9925 2000</td>
                </tr>
                <tr>
                  <td><i class="fa fa-envelope"></i></td>
                  <td>info@courseApp.rmit.edu.au</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-6" id="message" style="padding-right:20px;padding-left:20px;">
            <fieldset>
              <legend><i class="fa fa-envelope"></i>&nbsp;Contact Now</legend>
            </fieldset>
            <%= form_for @message, url: create_message_url do |f| %>
                <%= notice %>
                <%= @message.errors.full_messages.join(', ') %>
              
                <div class="form-group"><%= f.text_area :body, placeholder: "Your Message..." %></div>
                <div class="form-group"><%= f.submit 'Send' %></div>
            <% end %> 
          </div>
        </div>
      </form>
    </div>
  </section>
</section>