<% provide(:title, "Log in") %>

<section class="showcase">
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col" style="padding: 20px;margin: 20px;">
            <h1 class="main-heading">Login to your courseApp Account</h1>
        </div>
    </div>
    <div class="row login-form">
      <div class="col-md-4 offset-md-4">
        <%= form_for(:session, url: login_path) do |f| %>

        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

        <%= f.submit "Log in", class: "btn btn-light btn-block submit-button" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>