<% provide(:title, 'Course') %>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col" style="padding: 20px;margin: 20px;">
        <h1 class="main-heading">All Courses</h1>
      </div>
    </div>
  </div>
</section>
<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Courses</a></li>
    <li class="nav-item">
      <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Coordinators</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="tab-1">
      <section style="padding-top: 20px;">
        <div class="container">
          <div class="row">
            <% @courses.each do |course| %>
            <div class="col-lg-4">
              <div class="card mb-4 box-shadow">
                <%#= gravatar_for @user %>
                <div class="card-body">
                    <h4 class="card-title"><%= course.name %></h4>
                    <h6 class="text-muted card-subtitle mb-2">Coordinator: <%= course.user_id %></h6>
                    <h6 class="text-muted card-subtitle mb-2">Prerequisite: <%= course.prerequisite %></h6>
                    <h6 class="text-muted card-subtitle mb-2">Category: <%= course.category_id %></h6>
                    <h6 class="text-muted card-subtitle mb-2">Location: <%= course.location_id %></h6>
                    <h6 class="text-muted card-subtitle mb-2">Created: <%= course.created_at %></h6>
                    <a class="card-link" href="#">Like</a>
                    <a class="card-link" href="#">Dislike</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane" role="tabpanel" id="tab-2">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <div class="login-card">
            <% @user.each do |user| %>
            <%= image_tag("avatar-dhg.png", class: "profile-img-card") %>
            <p class="profile-name-card"><%= user.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>