<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <% @courses.each do |course| %>
    <div class="col-lg-4">
      <div class="card mb-4 box-shadow">
        <%#= gravatar_for @user %>
        <div class="card-body">
        <h4 class="card-title"><%= course.name %></h4>
        <h6 class="text-muted card-subtitle mb-2">Coordinator: <%= course.user.try(:name) %></h6>
        <h6 class="text-muted card-subtitle mb-2">Prerequisite: <%= course.prerequisite %></h6>
      <% course.categories.each do |category| %>
        <h6 class="text-muted card-subtitle mb-2">Category: <%= category.name %></h6>
        <%end %>
      <% course.locations.each do |location| %>
        <h6 class="text-muted card-subtitle mb-2">Location: <%= location.name %></h6>
      <%end %>
        <h6 class="text-muted card-subtitle mb-2">Created: <%= course.created_at %></h6>
          <a class="card-link" href="#">Like</a>
          <a class="card-link" href="#">Dislike</a>
          <!--Most Likely having trouble here. How to make it to current_course?-->
          <a class="card-link" href="#"><%= link_to "edit", edit_course_path(course.id) %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>