<!DOCTYPE html>
<html>
  <head>
    <title>CourseApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="bootstrap.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="3-Columns-Info-Icons.css">
    <link rel="stylesheet" href="Button-Outlines---Pretty.css">
    <link rel="stylesheet" href="Card-Group1-Shadow.css">
    <link rel="stylesheet" href="Contact-form-simple.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="Pretty-Login-Form.css">
    <link rel="stylesheet" href="sticky-dark-top-nav-with-dropdown.css">

  </head>

  <body>
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
    <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
