<% provide(:title, "Filter Result") %>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col" style="padding: 20px;margin: 20px;">
        <h1 class="main-heading">Category for <%= @category.name. %></h1>
        </div> 
    </div>
  </div>
</section>
<div class="row">
  <% @courses.each do |course| %>
    <div class="col-lg-4">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h4 class="card-title"><%= course.name %></h4>
          <h6 class="text-muted card-subtitle mb-2">Coordinator: <%= course.user.try(:name) %></h6>
          <h6 class="text-muted card-subtitle mb-2">Prerequisite: <%= course.prerequisite %></h6>
          <% course.categories.each do |category| %>
            <h6 class="text-muted card-subtitle mb-2">Category: <%= category.name %></h6>
          <%end %>
          <% course.locations.each do |location| %>
            <h6 class="text-muted card-subtitle mb-2">Location: <%= location.name %></h6>
          <%end %>
          <h6 class="text-muted card-subtitle mb-2">Created: <%= course.created_at %></h6>
          <a class="card-link" href="#">Like</a>
          <a class="card-link" href="#">Dislike</a>
          <a class="card-link" href="#"><%= link_to "Edit", edit_course_path(course.id) %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
